.header {
  background-image: url(../../images3/header-bg-mobile.png);
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin: 0;
}

.header__bottom {
  padding: 0 20px 40px;
}