.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100%;
}

.icon--phone {
  background-image: url(../../images3/icons/icon-phone.png);
}

.icon--burger-menu {
  background-image: url(../../images3/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../../images3/icons/icon-close.png);
}