.menu {
  box-sizing: border-box;
  background-color: #E5E6E8;
  height: 100vh;
  font-weight: 700;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu-content {
  margin-inline: 20px;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.menu__call-to-order {
  color: inherit;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #292929;
  width: fit-content;
  padding: 7px 0;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}